.aside-right {
    display: flex;
    flex-direction: column;
    padding-left: 35px;

    .title {
        margin-bottom: 30px;
        margin-top: 20px;
        background: v.$background-button;
        width: 240px;
        height: 35px;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
    }

    .tab-content {
        display: flex;
        flex-direction: row;

        img {
            width: 64px;
            height: 64px;
            min-width: 64px;
            border-radius: 50%;
            margin-right: 1.25rem;
        }

        .story-cont {
            color: v.$font-desc;
            font-size: 14px;
        }
    }
}