menu {
  width: 100%;

  ul {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      cursor: pointer;
      position: relative;

      img {
        width: 50px;
        height: 50px;
        transition: all 0.2 ease-in;
      }

      .green-menu {
        position: absolute;
        top: 0;
        left: 75px;
        width: 200px;
        background: v.$background-second;
        z-index: 999;
        box-shadow: 0 0 9px 0 rgb(0 0 0 / 40%);
        -webkit-box-shadow: 0 0 9px 0 rgb(0 0 0 / 40%);
        cursor: default;

        &.close {
          display: none;
        }

        .menu-nav {
          padding: 20px;

          nav {
            display: flex;
            flex-direction: column;

            img {
              width: 16px;
              height: 16px;
              margin-right: 6px;
            }

            a {
              margin: 5px 0;
              font-weight: 700;
              cursor: pointer;
            }

            .counter {
              margin-left: 2px;
              color: v.$green-sec;
            }
          }
        }
      }
    }
  }
}