$color: #ccc;
$color-second:#efefef;
$fond-black:#383838;

$background: #3b3a3a;
$background-second:#474747;
$background-aside:#434343;
$background-input:#343434bf;

$border-sec:#313131;
$border: #3b3b3b;
$green:#95ac7c;
$green-sec:#a9b2a0;

